# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
#default = booksScrapy.settings
#default = images_download.settings
default = No1_shop.settings

[deploy]
#url = http://localhost:6800/
#project = booksScrapy
#project = images_download
project = No1_shop
